@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    /* Calendar vars */
    --fc-small-font-size: 0.875em;
    --fc-page-bg-color: hsl(var(--border));
    --fc-neutral-bg-color: hsl(var(--border));
    --fc-neutral-text-color: hsl(var(--accent-foreground));
    --fc-border-color: hsl(var(--border));
    --fc-button-text-color: hsl(var(--background));
    --fc-button-bg-color: hsl(var(--primary));
    --fc-button-border-color: hsl(var(--primary));
    --fc-button-hover-bg-color: hsl(var(--primary) / 0.8);
    --fc-button-hover-border-color: hsl(var(--primary));
    --fc-button-active-bg-color: hsl(var(--primary) / 0.8);
    --fc-button-active-border-color: hsl(var(--primary) / 0);
    --fc-event-bg-color: hsl(var(--primary));
    --fc-event-border-color: hsl(var(--primary));
    --fc-event-text-color: hsl(var(--background));
    --fc-event-selected-overlay-color: hsl(var(--muted));
    --fc-more-link-bg-color: hsl(var(--muted));
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: var(--radius);
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: hsl(var(--success));
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: hsl(var(--primary) / 0.15);
    --fc-now-indicator-color: hsl(var(--destructive));
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 35.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.4 71.8% 29.2%;
    --success-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

aside.EmojiPickerReact {
  /* Emoji Picker vars */
  --epr-emoji-size: 2rem;
  --epr-emoji-padding: 0.25rem;
  --epr-emoji-gap: 0.5rem;
  --epr-hover-bg-color: hsl(var(--accent));
  --epr-focus-bg-color: hsl(var(--accent));
  --epr-bg-color: hsl(var(--background));
  --epr-reactions-bg-color: hsl(var(--background));
  --epr-highlight-color: hsl(var(--primary));
  --epr-category-icon-active-color: hsl(var(--primary));
  --epr-category-label-bg-color: hsl(var(--background));
  --epr-text-color: hsl(var(--foreground));
  --epr-horizontal-padding: 0.75rem;
  --epr-search-input-bg-color: hsl(var(--muted));
  --epr-search-input-border-radius: var(--radius);
  --epr-search-input-padding: 0 40px;
  --epr-preview-text-size: 0.875rem;
  --epr-header-padding: var(--epr-horizontal-padding)
    var(--epr-horizontal-padding);
  --epr-picker-border-radius: var(--radius);
  --epr-picker-border-color: hsl(var(--border));
  --epr-skin-tone-outer-border-color: hsl(var(--border));
}
.EmojiPickerReact .epr-btn {
  border-radius: var(--radius);
}
.EmojiPickerReact .epr-btn:focus::before {
  border-radius: var(--radius);
  border-width: 1px;
}
